.App {
  text-align: center;
}

.container {
  position: relative;
  width: 50%;
  display:inline;
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 400%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.AddButton{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Navbar
{
  background: rgb(60, 19, 100);
  position: fixed;
  width: 100%;
}

img{
  margin: 1em;
  width: 450px;
  height:auto;
}

.SidebarButton {
    background:none;
    border:none;
    padding:0;
    cursor: pointer;
    color: white;
    font-size: 100%;
    margin: 1%;
    display: inline;
    text-align: center;
    width:10em;
    margin-top:10px;
    margin-bottom:10px;

}

.Sidebar
{
  margin-right: 10px;
  background: rgb(106, 38, 168);
  width: 160px;
  height: 17.6em;
  display: inline-block;
}

.Sidebar p, button
{
  color: white;
  text-align: center;
}

.MainScreen
{
  margin: 0;
  height: 80%;
  display: inline-block;
    width:100%;

}

.SidebarList{
  display:inline-flex;
  width:100%;
}

.MainScreen h1
{ 
  margin: 0;
  color: white;
}

.Text
{
  color: white;
  font-size: 200%;
  margin: 1%;
  display: inline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
